header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    backdrop-filter: blur(80px);
    margin-left: auto;
    font-family: jaf-bernino-sans-narrow, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    text-align: center;
    align-items: center;
}

header a{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    font-family: jaf-bernino-sans-narrow, sans-serif;
    width: 200px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1.38, 0.43, 1.32);
}

header a:hover{
    transform: scale(1.2);
}

body {
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    margin: auto;
    background-image: url('/images/background.jpg');
    background-size: 1000px;
    background-attachment: fixed;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Block {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: jaf-bernino-sans-narrow, sans-serif;
    height: fit-content + 100px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url('images/splatoon3-pattern-02-3840x2160-1.jpg');
    background-size: contain;
    
}

.BlockComp{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-family: jaf-bernino-sans-narrow, sans-serif;
    height: fit-content;
    border-radius: 20px;
    color: white;
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-image: url('images/splatoon3-pattern-02-3840x2160-1.jpg');
    background-size: contain;
}

.RobloxImages{
    height: 300px;
    width: 650px;
    border-radius: 10px;
}

.banner{
    text-align: center;
    height: 35px;
    width: 100%;
}

.BlockComp p {
    grid-row: 1;
    grid-row-end: 2;
    text-align: center;
}

.BlockComp .banner{
    display: flex;
    justify-content: space-around;
    grid-row-end: 1;
    grid-column-end: 2;
}

.BlockComp .bannerEnd{
    height: 35px;
    width: 100%;
    grid-row: 3;
    grid-row-end: 4;
}

.video{
    height: 300px;
    width: 650px;
    border-radius: 10px;
    border-style: none;
}

.one{
    grid-column: 1;
    grid-column-end: 2;
    grid-row: 2;
    grid-row-end: 3;
    height: 250px;
    width: 450px;
    border-radius: 10px;
}

.two{
    grid-column: 2;
    grid-column-end: 3;
    grid-row: 2;
    grid-row-end: 3;
    height: 250px;
    width: 450px;
    border-radius: 10px;
}

.Block h1{
    font-size: 50px;
}

.Block p{
    font-size: 20px;
    width: 500px;
    text-align: center;
}